.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75vw;
    margin: auto;
    padding: 8rem 0 0;
  
    &__text {
      margin-right: 5rem;
    }
  
    &__picture {
      width: 30%;
      height: auto;
      max-width: 20rem;
    }
  }