.description {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 120rem;
  margin: auto;
  padding: 8rem 2rem 0;

  &__text {
    margin-right: 5rem;
    max-width: 60rem;

    & p {
      margin: 1rem 0;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__picture {
    width: 30%;
    height: auto;
    max-width: 20rem;
  }
}

@media screen and (max-width: 800px) {
  .description {
    flex-direction: column-reverse;

    &__text {
      margin: 4rem 0 0 0;
    }

    &__picture {
      width: 10rem;
    }
  }
}
