@import "colors.scss";

.oneProject {
  height: 100svh;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    padding: 2rem;

    & h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    & a {
      font-weight: bold;
      color: $blue;
    }
  }

  &__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 4rem);
    margin: auto;
    margin-bottom: 4rem;
    max-width: 85rem;

    & img {
      width: 100%;
      max-width: 50%;
      height: auto;
    }
  }

  &__description {
    max-width: 40%;
  }

  &__skil {
    display: flex;
    align-items: center;
    margin-left: 20%;
    height: 2rem;

    & p {
      margin-right: 1rem;
    }

    & img {
      height: 2rem;
      width: auto;
    }
  }

  &__listPicture {
    display: flex;
    padding: 4rem 0;
    background-color: $lightBlack;

    & img {
      width: 25%;
      max-width: 45rem;
      height: auto;
      margin: auto;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    color: $blue;
    margin: -2rem 0 2rem;
    font-weight: bold;
  }
}
